<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Sathyan</title>
  
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
  
  
  <link href="{{ url_for('static',filename='aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='swiper-bundle.min.css')}}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <h1 class="text-light">Sathyan Madhavan</h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/sathyanmadhavan" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://www.instagram.com/sathyan_madhavan/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.linkedin.com/in/sathyan-m-03a394243/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->

  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Sathyan Madhavan</h1>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Me</h2>
          <p>I am currently pursuing my masters in computer application, 
            As a part of my summer internship program I worked at Qxf2 services as software engineer intern
            I have completed my Bsc Computer Science degree and 
            I have technical certificate in Core Java and completed Git course in codeacademy . 
            I have also completed my internship at Qxf2 services as a QA intern. 
            
        <div class="row">
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 october 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>9361028359</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chennai,Tamil Nadu</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>23</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>MCA</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>sathyanmadhavan31@gmail.com</span></li>
                </ul>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <ul>
                <li>MongoDB </li>
                <li>Python</li>
                <li>Git</li>
            </ul>

          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <ul>
                <li>MySQL</li>
                <li>Selenium</li>
                <li>pytest</li>
            </ul>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Career objective</h3>
            <div class="resume-item pb-0">
              <p><em>To work in a  challenging and dynamic environment, that provides ample scope for innovation ,carrer growth, 
                can enhance my new skills and knowledge in order to build a longterm relationship with the organisation
              </em></p>

            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Masters in computer application(MCA)</h4>
              <h5>2023-2025</h5>
              <p><em>SRM institue of Science and Technology</em></p>
              <p>Percentage: 93% (Upto second semester)</p>
            </div>
            <div class="resume-item">
              <h4>Bsc Computer Science </h4>
              <h5>2019 - 2022</h5>
              <p><em><b>Dwaraka doss goverdon doss vaishnav college</b></em></p>
              <p>Percentage: 76%</p>
            </div>
            <div class="resume-item">
              <h4>HSC</h4>
              <h5>2018 - 2019</h5>
              <p><em><b>New prince matriculation higher secondary school</b></em></p>
              <p>Percentage: 66.3%</p>
            </div>
            <div class="resume-item">
              <h4>SSLC</h4>
              <h5>2016 - 2017</h5>
              <p><em><b>Shri venkateshwara higher secondary school</b></em></p>
              <p>Percentage: 91.2%</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <ul>
                <li>Code academy - Git</li>
                <li>Hejex institute - Core Java </li>
              </ul>
            </div>
            <h3 class="resume-title">Experience</h3>
            <div class="resume-item">
              <h4>Quality Assurance,Intern- Qxf2 Services</h4>
              <h5>Dec 2022 - Feb 2023</h5>
              <p><b>Tools/Techs learnt: </b>Testing a web application,Basics of Software testing,HTML,CSS,DOM,XPath,CSS-selectors,Selenium,
                pylint,pytest,Agile methedology,Design pattern,Facade pattern,Explorartory testing,Horizontal and vertical scaling,Minimum Viable Product,Learnt Python from scratch,HTTP methods,Client Server Architecture,Page Object Model,What is Test case and how to write test case,Boundary Value analysis,Docker,API testing,SSO </p>
  
            </div>
            <div class="resume-item">
              <h4>Software Engineer,Intern - Qxf2 Services </h4>
              <h5>May 2024 - June 2024</h5>
              <p><b>Tools/Techs learnt: </b> I worked on PyTorch , Transformers module , Ollama , RAG, DPR, Langsmith, Streamlit, Embedding models, LLM’S, Vector database.<br>
                  <b>Project developed: </b> Developed an app that focuses on implementing a Context 
                    Question Answering system utilizing the Retrieval-Augmented Generation (RAG) framework. 
                    It integrates document ingestion, text processing, and BERT-based embeddings for efficient query handling and document retrieval.
                    Users can upload PDF documents, which are processed to extract text and generate embeddings. 
                    Queries about the documents are answered using the RAG model, demonstrating the application's capability in contextual information retrieval</p>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt-fill"></i>
                <h4>Location:</h4>
                <p>No.1,Kalaimagal 2nd cross street,Puzhuthivakkam,Chennai-91.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>sathyanmadhavan619@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-telephone"></i>
                <h4>Call:</h4>
                <p>9361028359</p>
              </div>


            </div>

          </div>


      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="resume.html">Sathyan Madhavan</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static',filename='purecounter_vanilla.js')}}"></script>
  <script src="{{ url_for('static',filename='aos.js')}}"></script>
  <script src="{{ url_for('static',filename='bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='bootstrap-icons.json')}}"></script>
  <script src="{{ url_for('static',filename='glightbox.min.js')}}"></script>
  <script src="{{ url_for('static',filename='isotope.pkgd.min.js')}}"></script>
  <script src="{{ url_for('static',filename='swiper-bundle.min.js')}}"></script>
  <script src="{{ url_for('static',filename='typed.min.js')}}"></script>
  <script src="{{ url_for('static',filename='noframework.waypoints.js')}}"></script>


  <!-- Template Main JS File -->
  <script src="{{ url_for('static',filename='main.js')}}"></script>

</body>

</html>
